@tailwind base;
html {
  @apply select-none	
}

img, embed, object, video {
  max-width: 100%;
}

@tailwind components;
@tailwind utilities;

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullscreen { height: 100vh; width: 100vw; object-fit: cover; object-position: center; }

/* Cursor */
.typed-cursor {
  @apply text-white text-opacity-75
}
